* { 
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
  }
  body{
      width: 100%;
  }

  html{
      width: 100%;
  }
  header{
      background-color: #ff9a4b;
      height: 50px;
      width: 100%;

  }
  main{
    width: 960px;
    margin: 50px auto;
    display: flex;
  }

.icon{
    background-color: #eeeeee;
    height: 330px;
    width: 300px;
    position: relative;
    padding: 10px;
    margin: 20px auto;
}
.icon-center{
    background-color:#eeeeee;
    height: 330px;
    width: 300px;
    position: relative;
    margin: 20px auto;
    padding: 10px;
}

.icon h3{
    margin-bottom: 5px;
}
.icon-center h3{
    margin-bottom: 5px;
}
.phase{
    background-color: #ff9a4b;
    position: absolute;
    color: wheat;
}
.img1{
    background-image: url(img/flow01.png);
    height: 150px;
    width: 280px;
    margin: 10px 10px 15px;
    background-position:bottom;
    background-size: cover;
    margin: 0 0 15px;
}
.img2{
    background-image: url(img/flow02.png);
    height: 150px;
    width: 280px;
    margin: 10px 10px 15px;
    background-position:bottom ;
    background-size: cover;
    margin: 0 0 15px;
}
.img3{
    background-image: url(img/flow03.png);
    height: 150px;
    width: 280px;
    margin: 10px 10px 15px;
    background-position:bottom ;
    background-size: cover;
    margin: 0 0 15px;
}
footer{
    background-color: #aaaaaa;
    height: 50px;
    width: 100%;
}
@media screen and (max-width: 768px){
    main{
        width: 100%;
        display: block;
    }
    .icon{
        display: block;
        margin: 0 auto;
        width: 90%;
    }
    .icon-center{
        display: block;
        margin: 20px auto;
        width: 90%;
    }
   .img1{
       display: block;

       width: 100%;
       height: 150px;
   }
   .img2{
       width: 100%;
       height: 150px;
   }
   .img3{
       width: 100%;
       height: 150px;
   }
  

}
